* {
  background-color: rgb(209 118 255);
  color: white;
}

body {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  font-family: sans-serif;
  margin: 0px;
}

.human-icon, 
.robot-icon {
  height: 50px;
  width: 50px;
  background-color: rgb(219 147 255);
}

.human-section, 
.game-section, 
.computer-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.human-section, .computer-section {
  padding: 3%;
  background-color: rgb(219 147 255);
  height: 30vh;
}

.human-label, .computer-label {
  background-color: rgb(219 147 255);
}

.human-wins, .computer-wins {
  width: 100%;
  background-color: rgb(219 147 255);
  display: flex;
  justify-content: center;
}

.change-game-button {
  background-color: rgb(196 80 255);
  border: blueviolet;
  font-size: 10px;
  height: 40px;
}

h1 {
  font-size: 50px;
  margin-bottom: 0px;
}

h2 {
  display: flex;
  justify-content: center;
  margin-top: 0px;
}

.home-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 500px;
  justify-content: space-between;
}

/* Home View */

.classic-button, 
.difficult-button {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 17px;
  justify-content: space-evenly;
  width: 100%;
  background-color: rgb(196 80 255);
  border: 0
}

.classic-button {
  height: 145px;
}

.difficult-button {
  height: 170px;
}

.rock-icon, 
.scissors-icon, 
.lizard-icon, 
.alien-icon {
  height: 13px;
  width: 13px;
}

.classic-label, 
.difficult-label, 
.rock-icon, 
.scissors-icon, 
.lizard-icon, 
.alien-icon {
  background-color: inherit;
}

.rules {
  display: flex;
  flex-direction: column;
  background-color: inherit;
}
.button-label {
  background-color: inherit;
}

/* classic display and difficult display */

.game-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.classic-buttons, 
.difficult-buttons, 
.buttons-template {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.rock-button, 
.paper-button, 
.scissors-button, 
.rock, 
.paper, 
.scissors, 
.alien, 
.lizard, 
#human-classic, 
.human-difficult, 
.computer-choice-img {
  height: 100px;
  width: 100px;
}

/* --------- */

.classic-button:hover, 
.difficult-button:hover,
.classic-label:hover, 
.difficult-label:hover, 
.rock-icon:hover, 
.scissors-icon:hover, 
.lizard-icon:hover, 
.alien-icon:hover,
.change-game-button:hover,
.rock-button:hover, 
.paper-button:hover, 
.scissors-button:hover, 
.rock:hover, 
.paper:hover, 
.scissors:hover, 
.alien:hover, 
.lizard:hover {
background-color: rgb(219 147 255);
}

.hidden {
  display: none;
}