* {
  background-color: rgb(209 118 255);;
  border: 2px solid red
}

body {
  display: flex;
  
  justify-content: space-between;
}

.human-icon, .robot-icon {
  height: 50px;
  width: 50px;
}

.human-section, .game-section, .computer-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}